@charset "UTF-8";

/*Verde #49a09d
lilais #5f2c82*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html, body{
    width: 100vw;
    background-color: #5f2c82 ;
}
main{
    position: relative;
    width: 100vw;
    height: 100vh;
}
section{
background-color: white;
width: 250px;
height: 500px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 20px;
overflow: hidden;
transition: width 1s, height 1s;    

}
section> div#imagem{
    display: block;
    background-image: url(../imagens/pexels-vinícius-estevão-2896034.jpg);
    height: 200px;
    background-size: cover;
    background-position: left, center;
}
section > #formulario{
    display: block;
    padding: 10px;
}
#formulario h1{
    text-align: center;
    margin-bottom: 10px;
}
#formulario p{
    font-size: 0.8em;
}
input[type=submit]{
    display: block;
    width: 100%;
    padding: 10px;
    color: white;
    background-color: #49a09d;
    text-align: center;
    border: none;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 4px;
    
}
input[type=submit]:hover{
    cursor: pointer;
}
.botao{
    display: block;
    text-align: center;
    color: #49a09d;
    background-color: white;
    border: 1px solid #49a09d;
    padding: 7px;
    border-radius: 5px;  
    font-size: 0.8em;
    text-decoration: none;  
}
.botao:hover{
    background-color: #54b4b1ad;
    font-size: 0.9em;
    transition: 0.1s;
}
div#senha  span{
    font-size: 0.8em;
}